{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "extends": "eslint:recommended",
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
		"indent": [1, "tab"],
    "semi": [1, "always"],
    "quotes": [1, "single"],
    "array-bracket-spacing": [1, "always"],
    "object-curly-spacing": [1, "always"],
    "no-unused-vars": 1
  }
}